<h1>Web Sockets in C#</h1>
<h3>C# Server &amp; JavaScript Client</h3>
<h3 *ngIf="!lobby">NO LOBBY</h3>
<div *ngIf="lobbyState && lobby && myPlayer">
    <div style="width: 100vw; text-align: center">
        <h3>Lobby: {{ lobby.key }}</h3>
        <div *ngIf="!this.gameState && lobby.lobbyLeader.id == myPlayer.id">
            <button (click)="startGame()">START GAME</button>
        </div>
    </div>
    <ol>
        <li *ngFor="let player of players">{{ player.name }}</li>
    </ol>
</div>

<app-lobby-game *ngIf="lobby.gameRunning">
    TEST
</app-lobby-game>
