<h1>Web Sockets in C#</h1>
<h3>C# Server &amp; JavaScript Client</h3>

<h3 *ngIf="!lobby">NO LOBBY</h3>
<div *ngIf="lobbyState && lobby">
    <h3>Lobby: {{ lobby.key }}</h3>
    <div style="width: 100vw; text-align: center">
        <div>
            <button id="myTurn" (click)="toggleMyTurn()">my turn</button>
        </div>
        <ol>
            <li *ngFor="let player of players; trackBy: trackPlayer">{{ player.name }}</li>
        </ol>
    </div>
</div>
<canvas id="canvas"></canvas>
<div id="output"></div>