.canvas-container {
    position: relative;
    border: 5px solid blue;
    width: 500px;
    height: 400px;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}