<div class="container" *ngIf="!connected">
    <div class="row" *ngIf="!myPlayer">
        <div class="col-sm" style="text-align: center;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading Spinner</span>
            </div>
            <div>
                WAITING ON SERVER CONNECTION...
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="connected">
    <div class="row">
        <div class="col-sm">
            There are currently {{ totalPlayerCount }} players online.
        </div>
    </div>
    <div class="row" *ngIf="!myPlayer">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Player</h5>
                    <form [formGroup]="playerForm" (ngSubmit)="playerFormSubmit()" autocomplete="off">
                        <div class="form-group">
                            <label for="playerName">Username:</label>
                            <input type="text" class="form-control" id="playerName" formControlName="playerName"
                                placeholder="Enter username" required>
                            <div *ngIf="playerName.invalid && (playerName.dirty || playerName.touched)"
                                class="alert alert-danger">
                                <div *ngIf="playerName.errors.minlength || playerName.errors.required">
                                    Name is required
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="playerForm.invalid">
                            Create Player
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="myPlayer">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Join Lobby</h5>
                    <form [formGroup]="joinLobbyForm" (ngSubmit)="joinLobby()" autocomplete="off">
                        <div class="form-group">
                            <label for="lobbyKey">Enter lobby code:</label>
                            <input type="text" class="form-control" id="lobbyKey" formControlName="lobbyKey"
                                placeholder="lobby code" required>
                            <div *ngIf="lobbyKey && lobbyKey.invalid && (lobbyKey.dirty || lobbyKey.touched)"
                                class="alert alert-danger">
                                <div *ngIf="lobbyKey.errors.minlength || lobbyKey.errors.required">
                                    Lobby Code is required
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="lobbyKey.invalid">JOIN</button>
                    </form>
                </div>
            </div>
            <div class="card justify-content-center align-items-center">
                <div class="text-center">
                    <h4 class="card-title">or Create Your Own Lobby</h4>
                    <button type="submit" class="btn btn-warning" (click)="createLobby()">Create Lobby</button>
                </div>
            </div>
        </div>
    </div>
</div>