<h3 *ngIf="!lobby">NO LOBBY</h3>
<div *ngIf="lobbyState && lobby && myPlayer">
    <div>
        <h3>Lobby: {{ lobby.key }}</h3>
        <div *ngIf="!gameState">
            <div *ngIf="lobby.lobbyLeader.id == myPlayer.id">
                <button (click)="startGame()">START GAME</button>
            </div>
            <ol>
                <li *ngFor="let player of players">{{ player.name }}</li>
            </ol>
        </div>
    </div>
</div>

<app-lobby-game *ngIf="lobby.gameRunning">
    TEST
</app-lobby-game>